
@charset "UTF-8";
body{
	background: #514583;
	color: #fff;
	margin: 0;
}
#header{
	font-size: 2em;
	font-weight: boid;
	padding: 10px20px;
}
#content{
	background: #fff;
	color: #333;
	padding: 10px20px40px20px;
}
#footer{
	padding: 6px10px;
	text-align: right;
}

/**Tables **/
table{
	border-right: 0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th{
	border: 0;
	border-bottom: 2pxsolid#555;
	text-align: left;
	padding: 4px;
}
th a{
	display: block;
	padding: 2px4px;
	text-decoration: 2px4px;
	text-decoration: none;
}
th a.asc:after{
	content: '[ase]';
}
th a.desc:after{
	content: '[desc]';
}
table tr td{
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1pxsolid#ddd;
}
table tr:nth-child(even){
	background: #f9f9f9;
}
td.actions{
	text-align: center;
	white-space: nowrap;
}
table td.actions a{
	margin: 0px6px;
	padding: 2px5px;
}

/**Forms**/
form{
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset{
	border: none;
	margin-bottom: 1em;
	padding: 16px10px;
}
fieldset legend{
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset{
	margin-top: 0;
	padding: 10px00;
}
fieldset fieldset legend{
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div{
	clear: left;
	margin: 020px;
}
form div{
	clear: both;
	margin-bottom: 1em;
	padding: 5em;
	vertical-align: text-top;
}
form.input{
	color: #444;
}
form.required{
	font-weight: bold;
}
form.required label:after{
	color: #e32;
	content: '*';
	display: inline;
}
form div.submit{
	border: 0;
	clear: both;
	margin-top: 10px;
}
label{
	display: block;
	font-size: 110%;
	margin-bottom: 3px;
}
input, textarea{
	clear: both;
	font-size: 140%;
	font-family: "fretiger linotype","lucida grande","verdana",sans-serif;
	padding: 1%;
	width: 98%;
}
select{
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple]{
	width: 100%;
}
option{
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox]{
	clear: left;
	float: left;
	margin: 0px6px7px2px;
	width: auto;
}
div.checkbox laber{
	display: inline;
}
input[type=radio]{
	float: left;
	width: auto;
	margin: 6px0;
	padding: 0;
	line-height: 26px;
}
.radio label{
	margin: 006px20px;
	line-height: 26px;
}
input[type=submit]{
	display: inline;
	font-size: 110%;
	width: auto;
}
form.submit input[type=submit]{
	background: #62af56;
	background-image: -webkit-gradient(linear,left top,left boottom, from(#76BF6B),to(#3B8230));
	background-image: -moz-linear-gradient(top,#76bf6b,#3b8230);
	background-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0,0,0,0.5)0px-1px0px;
	padding: 8px10px;
}
form.submit input[type=submit]:hover{
	background: #5BA150;
}

/** scaffold View **/
dl{
	line-height: 2em;
	margin: 0em0em;
	widows: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1){
	background: #f4f4f4;
}

dt{
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 10em;
}
dd{
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}